html {
    font-size: 62.5%;
}

body {
    display: grid;
    background-color: rgb(32, 33, 37);
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "cultures cultures cultures cultures"
    "sneakers sneakers sneakers sneakers"
    "models models models models"
    "footer footer footer footer "
    ;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}


.header{
    grid-area: header ;
    background-color: rgb(56,54,109);
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header h1{
    font-size: 3rem;
    font-weight: 900;
    transition: 0.3s;
}

.header h2{
    font-size: 2rem;
    font-weight: 400;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.header a:hover h1{
    color:rgb(18,12,60);
}

.header a:hover h2{
    color: rgb(18,12,60);
}


.hero{
    grid-area: hero ;
    height: 89vh;
    display: flex;
    background: url('/src/image/colecao-sneaker.jpg');
    background-size: cover;
    position: relative;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    border: 1px solid white;
}


.hero .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.600);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    align-self: center;
    
    
}
.hero .title h2 {
    font-weight: 500;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
}
.hero .title p {
    font-weight: 200;
    font-size: 2.5rem;
    color: black;
}

.hero:after{
    content: url('/src/image/seta_branca.png') ;
    position: absolute;
    bottom: 40px;
    height: 35px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
    
}

@-webkit-keyframes downarrow{

    0% { -webkit-transform: translateY(0); opacity: 0.4;}

    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}

@media (max-width: 425px){
    .hero {
        height: 60vh;
    }

    .hero .title {
        font-size: 1rem; 
        text-align: center;       
    
    }
}


.about{
    grid-area: about ;
    background-color:  rgb(56,54,109);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: auto 0; 
    max-width: var(--max-width-size);
    border: 1px solid white;

}

.about .item{
    display: flex;
    flex-direction: column;
    padding: 20%;
}

.about .item h3 {
    font-size: 4rem;
    font-weight: 700;
}

.about .item p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 30px 0;
    
    

}

.about .item .btn-know{
    padding-top: 10%;
    font-size: 1.6rem;
    align-items: flex-start;
}

.about .item .btn-know:hover{
    font-weight: 700;
}

.about .image{
    width: 100%;
    height: 100%;
}

.about .image.right {
    background: url('/src/image/aj1.jpg') center center no-repeat;
    background-size: cover;

}

.about .image.left{
    background: url('/src/image/will_sneaker.jpg') center center no-repeat ;
    background-size: cover;
}

@media(max-width:425px){
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }

    .about .item{
        align-items: center;
    }

    .about .item h3{
        font-size: 3rem;
    }
}

.cultures{
    grid-area: cultures ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cultures .culture{
    text-align: center;
    padding: 70px 20px;
    
}

.cultures .culture:first-child{
    background-color:  rgb(56,54,109);
}

.cultures .culture:last-child{
    background-color:  rgb(56,54,109);
}

.cultures .culture img{
    width: 250px ;
    margin-bottom: 30px;
}

.cultures .culture h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.cultures .culture p{
    font-size: 2rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
}

@media(max-width:425px){
    .cultures{
        grid-template-columns: 1fr;
    }


}

.sneakers{
    grid-area: sneakers;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color:  rgb(56,54,109);
}

.sneakers .icons{
  
    font-size: 3rem;
    font-weight: 900;
    transition: 0.3s;
}

.models{
    grid-area: models;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid white;
}

.models img{
    height: 100%;
}
.models img:hover{
    opacity: 0.9;
}

@media(max-width:425px){
    .models{
        grid-template-columns: 2fr 2fr;
    }
}
.footer{
    grid-area: footer ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color:  rgb(56,54,109);
   
}
.footer h4{
    font-weight: 700;
    font-size: 2.5rem;
}

.footer h5{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer nav{
    margin: 50px 0 ;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a{
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
}

.footer nav ul li a:hover{
    color:rgb(18,12,60);
    font-weight: 700;
}

.footer .social i{
    font-size: 2rem;
    transition: 0.3s;
}

.footer .social a{
    margin: 20px;
}

.footer .social i:hover{
    color:rgb(18,12,60);
}
